<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ titulo }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header>
  <nav>
    <a href="{{ url_for('home') }}">Pesquisa Google</a>
    <a href="{{ url_for('imagens') }}">Imagens</a>
    <a href="{{ url_for('advanced') }}">Pesquisa Avançada</a>
  </nav>
</header>

<main>
  {% block conteudo %}{% endblock %}
</main>

</body>
</html>
